This PDF document, titled "APT Attack Attempts Disguised as North Korea Related Paper Requirements (Kimsuky)", describes a recent attack carried out by an attacker targeting graduate school professors. The malicious Word (DOC) file is disguised as a North Korea-related paper requirement and contains additional commands (in the form of Visual Basic Script) that are downloaded and executed from memory. The VBS script exfiltrates system info and persists by registering a disguised service. It connects to a command and control server. The VBS script collects and leaks system info, running processes, anti-virus software details, and recently opened Word docs. The script creates a VBS file that runs at startup to maintain persistence on the system and wait for further commands. This type of document-type APT attack was found most often on AhnLab's ASD infrastructure last year. AhnLab's anti-malware programs detect and block the malware using specific IOCs and detection names. 